/*
#EEEFF7
#92CDCF
#445878
#31353D
#1C1D21

#DE3678 - SU pink
#5A5A5A	- SU Gray


*/

@font-face {
  font-family: 'defusedlight';
  src:  url('../fonts/defused-lt-webfont.woff') format('woff');
}

@font-face {
  font-family: 'defusedlightregular';
  src:  url('../fonts/defused-rg-webfont.woff') format('woff');
}





#tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-panel { 
    background: #ffffff repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}

#tabs .ui-tabs-nav .ui-state-default a { 
    color: #5A5A5A; 
} 
#tabs .ui-tabs-nav .ui-state-active a { 
    color: #DE3678; 
}

#tabs .ui-widget-header {
	border-bottom: 1px solid #DE3678;
}


.chartjs-1 {
	width:380px;
	margin: 10px;
}

.chartjs-2 {
	width:780px;
	margin: 10px;
}


.pure-button-primary {
	background-color: #DE3678;
}
.pure-menu-item {
	font-family: "defusedlightregular";
}
.pure-menu-link:hover {
	background-color: #DE3678;
	color: #FFFFFF;
}

.hidden {
	display:none;
}


body {
	background-color: #FFFFFF;
}

.container {
	overflow: auto;
	margin: 0 auto;
	width: 1024px;
	min-height: 100vh;
	height: 100%;

	padding: 0 20px 0 20px;
	background-color: #EEEFF7;
}

h1 {
	font-size: 60px;
	line-height: 60px;
}

h2 {
	font-size: 45px;
	line-height: 45px;
}

.title {
	color: #5a5a5a;
	text-align: left;
	text-transform:uppercase;
	font-family: "defusedlightregular";
	font-weight:normal;
	margin:20px 0px;
	padding-left: 10px;
}

p {
    color: #000000;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;
}

pre {
	color:#31353D;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}